node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/extensions.json

archive